<div>
    <v-form>
        <v-text-field
            name="firstName"
            label="First Name"
            title="First Name"
            autocomplete="off"
            v-model="firstName">
        </v-text-field>
        <v-text-field
            name="lastName"
            label="Last Name"
            title="Last Name"
            autocomplete="off"
            v-model="lastName">
        </v-text-field>
        <v-text-field
            name="email"
            label="Email"
            title="Email"
            autocomplete="off"
            v-model="email">
        </v-text-field>
        <v-checkbox
            name="isAdministrator"
            label="Administrator"
            title="Administrator"
            autocomplete="off"
            v-model="isAdministrator"
            multi-line>
        </v-checkbox>
        <v-text-field
            name="idToken"
            label="Id Token"
            title="Id Token"
            autocomplete="off"
            v-model="idToken"
            multi-line>
        </v-text-field>
        <v-text-field
            name="accessToken"
            label="Access Token"
            title="Access Token"
            autocomplete="off"
            v-model="accessToken"
            multi-line>
        </v-text-field>
        <v-text-field
            name="tokenExpires"
            label="Access Token Expires"
            title="Access Token Expires"
            autocomplete="off"
            v-model="tokenExpires">
        </v-text-field>
        <v-text-field
            name="apiUri"
            label="API URI"
            title="API URI"
            autocomplete="off"
            v-model="apiUri">
        </v-text-field>
    </v-form>
</div>