<v-card>
    <v-card-title primary-title class="blue darken-4">
        <div class="headline white--text">{{ profile.firstName }} {{ profile.lastName }}</div>
    </v-card-title>
    <v-card-text>
        <v-layout row wrap>
            <v-flex xs12 v-if="profile.gender">
                Gender: {{ Gender }}
            </v-flex>
            <v-flex xs12 v-if="profile.birthYear">
                Age: {{ Age }}
            </v-flex>
            <v-flex xs12 v-if="profile.yearStartedInTech">
                Years in Tech: {{ YearsInTech }}
            </v-flex>
            <v-flex xs12 v-if="profile.status">
                Status: {{ Status }}
            </v-flex>
            <v-flex xs12 v-if="profile.timeZone">
                Time zone: {{ profile.timeZone }}
            </v-flex>
        </v-layout>
    </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :to="{ name: 'profile' }" title="View Profile" flat>View</v-btn>
    </v-card-actions>
</v-card>