<div>
    <div>
        <p>Tech Mentors helps people in the IT/Tech industry find mentors. If you are looking for a mentor then please select a filter and run a search below to find someone suitable. Mentors, please sign in to update your profile.</p>
        <p><strong>Note:</strong> All participants in must adhere to the Tech Mentors <router-link to="conduct">Code of Conduct</router-link>.</p>
    </div>
    <div v-if="loadingLists" class="text-xs-center">
        <v-progress-circular indeterminate v-bind:size="75" class="primary--text"></v-progress-circular>
        <p class="ma-3 subheading">Loading filters, please wait...</p>
    </div>
    <v-container v-if="!loadingLists">
        <v-layout row wrap>
            <v-flex xs12 md4>
                <v-select
                    v-if="skills.length > 0"
                    name="skills"
                    label="Skills"
                    title="Skills"
                    chips
                    multiple
                    clearable
                    item-text="displayName"
                    item-value="name"
                    v-bind:items="skills"
                    v-model="selectedSkills">
                </v-select>
            </v-flex>
            <v-flex xs12 md4>
                <v-select
                v-if="languages.length > 0"
                    name="languages"
                    label="Spoken Languages"
                    title="Spoken Languages"
                    chips
                    multiple
                    clearable
                    item-text="displayName"
                    item-value="name"
                    v-bind:items="languages"
                    v-model="selectedLanguages">
                </v-select>
            </v-flex>
            <v-flex xs12 md4>
                <v-select
                    v-if="genders.length > 0"
                    name="genders"
                    label="Genders"
                    title="Genders"
                    chips
                    multiple
                    clearable
                    item-text="displayName"
                    item-value="name"
                    v-bind:items="genders"
                    v-model="selectedGenders">
                </v-select>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 v-if="!FiltersSelected" class="text-xs-right">
                  Please select at least one filter.
            </v-flex>
            <v-flex xs12 class="text-xs-right">
                <v-btn color="primary" @click="OnSearch" :disabled="!FiltersSelected">
                    Search
                </v-btn>
            </v-flex>
            <v-flex xs12 v-if="searching" class="text-xs-center">
                <v-progress-circular indeterminate v-bind:size="75" class="primary--text"></v-progress-circular>
                <p class="ma-3 subheading">Searching profiles, please wait...</p>
            </v-flex>
            <v-flex xs12 v-if="searchRun && profiles.length === 0" class="text-xs-center">
                <p class="ma-3 subheading">No matching profiles found</p>
            </v-flex>
            <v-container fluid grid-list-md v-if="profiles.length > 0">
                <v-layout row wrap>
                    <v-flex v-for="profile in profiles" :key="profile.id" xs12 sm6 md4 lg3>
                        <ProfilePreview :profile="profile"></ProfilePreview>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
    </v-container>
    <div>
        <p>We need your help. Please reach out using the links below if you can help with any of the following</p>
        <ul>
            <li>UI Design, sweet SVG's and classy animation</li>
            <li>A logo</li>
            <li>Lazy loaded code split modules that works with webpack, TypeScript and Vue.js</li>
            <li>Pulling only used Vuetify components using webpack and TypeScript</li>
            <li>Treeshaking with webpack and TypeScript</li>
        </ul>
    </div>
</div>