<v-dialog v-model="visible" persistent max-width="50%">
    <v-form data-vv-scope="skillForm">
        <v-card>
            <v-card-title>
                <span class="headline">{{ isAdd ? "Add" : "Edit" }} Skill</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12 md6>
                            <v-select
                                name="name"
                                label="Name"
                                title="Name"
                                clearable
                                combobox
                                browser-autocomplete="off"
                                persistent-hint
                                hint="Select an existing skill or enter a new skill"
                                v-bind:items="availableSkills"
                                v-model="model.name"
                                required
                                :error-messages="errors.collect('name')"
                                data-vv-scope="skillForm"
                                v-validate="'required|noSlashes'"
                                v-if="isAdd">
                            </v-select>
                            <v-text-field
                                label="Name"
                                v-model="model.name"
                                :disabled="true"
                                v-if="!isAdd">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-select
                                name="level"
                                label="Level"
                                required
                                item-text="name"
                                item-value="value"
                                :items="skillLevels"
                                v-model="model.level"
                                :error-messages="errors.collect('level')"
                                data-vv-scope="skillForm"
                                v-validate="'required'">
                            </v-select>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-select
                                name="yearStarted"
                                label="Year Started"
                                title="Year Started"
                                auto
                                clearable
                                v-bind:items="techYearsStarted"
                                v-model="model.yearStarted">
                            </v-select>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-select
                                name="yearLastUsed"
                                label="Year Last Used"
                                title="Year Last Used"
                                auto
                                clearable
                                v-bind:items="techYearsLastUsed"
                                v-model="model.yearLastUsed">
                            </v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="blue--text darken-1" flat @click="OnClose" v-if="isAdd">Close</v-btn>
                <v-btn class="blue--text darken-1" flat @click="OnSave">{{ isAdd ? "Save" : "OK" }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>