@import "../../../node_modules/vuetify/dist/vuetify.min.css";
@import "../../../node_modules/izitoast/dist/css/iziToast.css";
@import "notify.scss";

#noPhoto > svg {
    height: 300px; 
    width: 300px;
}

.auth0-lock.auth0-lock {
    height: auto !important;
}

.auth0-lock-center {    
    height: auto !important;
    vertical-align: top !important;
}

.auth0-lock-header {
    display: none;
}