<v-toolbar dark class="primary">
    <v-toolbar-title class="white--text">Tech Mentors</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
        <v-btn :to="{ name: 'home' }" title="Home" flat exact>
            Home
        </v-btn>
        <v-btn :to="{ name: 'profile' }" v-if="isAuthenticated()" title="Profile" flat>Profile</v-btn>
        <v-btn :to="{ name: 'admin' }" v-if="isAdministrator()" title="Admin" flat>Admin</v-btn>
        <AuthButton></AuthButton>
    </v-toolbar-items>
</v-toolbar>