<div>
    <div v-if="loading" class="text-xs-center">
        <v-progress-circular indeterminate v-bind:size="75" class="primary--text"></v-progress-circular>
        <p class="ma-3 subheading">Loading your profile, please wait...</p>
    </div>  
    <v-alert color="warning" icon="priority_high" :value="isHidden()">
      Your profile is currently hidden and will not be publicly visible.
    </v-alert>
    <v-alert error :value="isBanned()">
      Your account has been banned and will not be publicly visible.
    </v-alert>
    <v-alert color="warning" icon="priority_high" :value="!isHidden() && !isSearchable()">
      Your profile is currently not searchable. You must provide at least one value in either Gender, Languages or Skills.
    </v-alert>
    <v-form v-if="!loading" data-vv-scope="profileForm">
        <h3>Profile</h3>                
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-select
                        name="status"
                        label="Status"
                        title="Status"
                        item-text="name"
                        item-value="value"
                        v-bind:items="statuses"
                        v-model="model.status">
                    </v-select>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="email"
                        label="Email Address"
                        title="Email Address"
                        required
                        autocomplete="off"
                        v-model="model.email"
                        :error-messages="errors.collect('email')"
                        data-vv-scope="profileForm"
                        hint="Your email address will only be made available to administrators and will not be publicly displayed."
                        persistent-hint
                        v-validate="'required|email'">
                    </v-text-field>
                </v-flex>
            </v-layout>
        </v-container>   
        <h3>Personal</h3> 
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-text-field
                                name="firstName"
                                label="First Name"
                                title="First Name"
                                maxlength="50"
                                required
                                autocomplete="off"
                                :autofocus="true"
                                v-model="model.firstName"
                                :error-messages="errors.collect('firstName')"
                                data-vv-scope="profileForm"
                                v-validate="'required'">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field
                                name="lastName"
                                label="Last Name"
                                title="Last Name"
                                maxlength="50"
                                required
                                autocomplete="off"
                                v-model="model.lastName"
                                :error-messages="errors.collect('lastName')"
                                data-vv-scope="profileForm"
                                v-validate="'required'">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="birthYear"
                                label="Birth Year"
                                title="Birth Year"
                                clearable
                                auto
                                v-bind:items="birthYears"
                                v-model="model.birthYear">
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="gender"
                                label="Gender"
                                title="Gender"
                                clearable
                                combobox
                                browser-autocomplete="off"
                                hint="Select an existing gender or enter a new one."
                                v-bind:items="genders"
                                v-model="model.gender">
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="timeZone"
                                label="Time Zone"
                                title="Time Zone"
                                autocomplete
                                clearable
                                browserAutocomplete="off"
                                v-bind:items="timezones"
                                v-model="model.timeZone">
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="languages"
                                label="Spoken Languages"
                                title="Spoken Languages"
                                clearable
                                chips
                                tags
                                @change="CheckLanguages"
                                v-bind:items="languages"
                                v-model="model.languages">
                            </v-select>
                        </v-flex>
                    </v-layout> 
                </v-flex>
                <v-flex xs12 sm6>
                    <v-flex xs12>
                        <h4 class="text-xs-left">Photo</h4>
                        <div class="caption mb-3 text-xs-left grey--text">Profile photo must be a jpg/jpeg or png that is under 256kb. Images more than 300x300 pixels will be resized.</div>
                        <div v-if="!photoUri" v-html="noPhoto" id="noPhoto"></div>
                        <div v-if="photoUri">
                            <img :src="photoUri" />
                        </div>
                        <div v-if="photoUploadProgress">
                            Uploading
                            <v-progress-linear v-model="photoUploadProgress"></v-progress-linear>
                        </div>
                    </v-flex>
                    <v-layout row wrap>
                        <v-flex xs6 class="text-xs-right">
                            <file-upload
                                extensions="jpg,jpeg,png"
                                accept="image/png,image/jpeg"
                                name="file"
                                input-id="photofile"
                                :headers="photoConfig.Headers"
                                :post-action="photoConfig.PostAction"
                                :drop="true"
                                :drop-directory="false"
                                @input-filter="OnPhotoFilter"
                                @input-file="OnPhotoUploaded"
                                ref="upload">
                                <v-btn class="blue--text darken-1" flat @click="OnPhotoSelect">Upload avatar</v-btn>                            
                            </file-upload>
                        </v-flex>
                        <v-flex xs6 class="text-xs-left">
                            <v-btn class="blue--text darken-1" :disabled="!photoUri" flat @click="OnRemovePhoto">Remove Photo</v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="about"
                        label="About"
                        title="About"
                        autocomplete="off"
                        v-model="model.about"
                        @input="CompileMarkdown"
                        multi-line>
                    </v-text-field>
                    <p class="text-xs-left">The About field supports <a href="https://help.github.com/categories/writing-on-github/" target="_blank">GitHub flavoured markdown</a>. <strong>NOTE:</strong> Images will not be supported due to <a href="https://en.wikipedia.org/wiki/Content_Security_Policy" target="_blank">CSP</a>.</p>
                </v-flex>
                <v-flex xs12 sm6 class="text-xs-left mb-3">
                    <h4 class="text-xs-left mb-2">About preview</h4>
                    <div v-html="compiledMarkdown" class="ml-2 markdown"></div>
                </v-flex>
            </v-layout>
        </v-container>
        <h3>Technical</h3>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-select
                        name="yearStartedInTech"
                        label="Year Started In Tech"
                        title="Year Started In Tech"
                        auto
                        clearable
                        browserAutocomplete="off"
                        item-text="name"
                        item-value="value"
                        v-bind:items="techYears"
                        v-model="model.yearStartedInTech">
                    </v-select>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="website"
                        label="Website"
                        title="Website"
                        autocomplete="off"
                        v-model="model.website"    
                        :error-messages="errors.collect('website')"
                        data-vv-scope="profileForm"                
                        v-validate="'url:true'"
                        :append-icon="model.website ? 'link' : ''"
                        :append-icon-cb="() => ShowWebsite(model.website)">
                    </v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="gitHubUsername"
                        label="GitHub Username"
                        title="GitHub Username"
                        autocomplete="off"
                        v-model="model.gitHubUsername"
                        :append-icon="model.gitHubUsername ? 'link' : ''"
                        :append-icon-cb="() => ShowWebsite('https://github.com/' + model.gitHubUsername)">
                        <!-- 
                            Currently broken in vuetify due to the label, see https://github.com/vuetifyjs/vuetify/issues/1620
                            prefix="https://github.com/"
                         -->
                    </v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="twitterUsername"
                        label="Twitter Username"
                        title="Twitter Username"
                        autocomplete="off"
                        v-model="model.twitterUsername"
                        :append-icon="model.twitterUsername ? 'link' : ''"
                        :append-icon-cb="() => ShowWebsite('https://twitter.com/' + model.twitterUsername)">
                    </v-text-field>
                </v-flex>
            </v-layout>
        </v-container>
        <h3>Skills</h3>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex v-for="skill in model.skills" :key="skill.name" xs12 class="text-xs-left">
                    <SkillDetails :skill="skill" />
                    <v-btn icon class="green--text" @click="OnEditSkill(skill)">
                        <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn icon class="red--text" @click="OnDeleteSkill(skill)">
                        <v-icon>delete</v-icon>
                    </v-btn>
                </v-flex>
                <v-flex xs12 class="text-xs-left">
                    <p v-if="model.skills.length === 0" class="subheading">No skills added yet.</p>
                    <v-btn @click="OnAddSkill">
                        Add Skill
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12 class="text-xs-right">
                    <small>* indicates required field</small>
                </v-flex>
                <v-flex xs12 class="text-xs-right">
                    <v-btn color="primary" @click="OnSave">
                        Save
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
    <v-dialog v-model="showDialog" persistent max-width="50%">
        <v-form data-vv-scope="skillForm">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ isSkillAdd ? "Add" : "Edit" }} Skill</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 md6>
                                <v-select
                                    name="name"
                                    label="Name"
                                    title="Name"
                                    clearable
                                    combobox
                                    browser-autocomplete="off"
                                    hint="Select an existing skill or enter a new one."
                                    v-bind:items="skills"
                                    v-model="skillModel.name"
                                    required
                                    :error-messages="errors.collect('name')"
                                    data-vv-scope="skillForm"
                                    v-validate="'required'"
                                    v-if="isSkillAdd">
                                </v-select>
                                <v-text-field
                                    label="Name"
                                    v-model="skillModel.name"
                                    :disabled="true"
                                    v-if="!isSkillAdd">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 md6>
                                <v-select
                                    name="level"
                                    label="Level"
                                    required
                                    item-text="name"
                                    item-value="value"
                                    :items="skillLevels"
                                    v-model="skillModel.level"
                                    :error-messages="errors.collect('level')"
                                    data-vv-scope="skillForm"
                                    v-validate="'required'">
                                </v-select>
                            </v-flex>
                            <v-flex xs12 md6>
                                <v-select
                                    name="yearStarted"
                                    label="Year Started"
                                    title="Year Started"
                                    auto
                                    clearable
                                    v-bind:items="techYears"
                                    v-model="skillModel.yearStarted">
                                </v-select>
                            </v-flex>
                            <v-flex xs12 md6>
                                <v-select
                                    name="yearLastUsed"
                                    label="Year Last Used"
                                    title="Year Last Used"
                                    auto
                                    clearable
                                    v-bind:items="techYears"
                                    v-model="skillModel.yearLastUsed">
                                </v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="blue--text darken-1" flat @click="showDialog = false" v-if="isSkillAdd">Close</v-btn>
                    <v-btn class="blue--text darken-1" flat @click="OnSaveSkill" v-if="isSkillAdd">Save</v-btn>
                    <v-btn class="blue--text darken-1" flat @click="OnSaveSkill" v-if="!isSkillAdd">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</div>