<div>
    <div v-if="loading" class="text-xs-center">
        <v-progress-circular indeterminate v-bind:size="75" class="primary--text"></v-progress-circular>
        <p class="ma-3 subheading">Loading your profile, please wait...</p>
    </div>  
    <AccountProfileAlerts v-if="!loading" :model="model"></AccountProfileAlerts>
    <v-form v-if="!loading" data-vv-scope="profileForm">
        <h3>Profile</h3>                
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-select
                        name="status"
                        label="Status"
                        title="Status"
                        item-text="name"
                        item-value="value"
                        v-bind:items="statuses"
                        v-model="model.status">
                    </v-select>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="email"
                        label="Email Address"
                        title="Email Address"
                        required
                        autocomplete="off"
                        v-model="model.email"
                        :error-messages="errors.collect('email')"
                        data-vv-scope="profileForm"
                        hint="Your email address will only be made available to administrators and will not be publicly displayed."
                        persistent-hint
                        v-validate="'required|email'">
                    </v-text-field>
                </v-flex>
            </v-layout>
        </v-container>   
        <h3>Personal</h3> 
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-text-field
                                name="firstName"
                                label="First Name"
                                title="First Name"
                                maxlength="50"
                                required
                                autocomplete="off"
                                :autofocus="true"
                                v-model="model.firstName"
                                :error-messages="errors.collect('firstName')"
                                data-vv-scope="profileForm"
                                data-vv-as="first name"
                                v-validate="'required'">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field
                                name="lastName"
                                label="Last Name"
                                title="Last Name"
                                maxlength="50"
                                required
                                autocomplete="off"
                                v-model="model.lastName"
                                :error-messages="errors.collect('lastName')"
                                data-vv-scope="profileForm"
                                data-vv-as="last name"
                                v-validate="'required'">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="birthYear"
                                label="Birth Year"
                                title="Birth Year"
                                clearable
                                auto
                                v-bind:items="birthYears"
                                v-model="model.birthYear">
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="gender"
                                label="Gender"
                                title="Gender"
                                clearable
                                combobox
                                browser-autocomplete="off"
                                hint="Select an existing gender or enter a new gender"
                                persistent-hint
                                v-bind:items="genders"
                                v-model="model.gender">
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="timeZone"
                                label="Time Zone"
                                title="Time Zone"
                                autocomplete
                                clearable
                                browserAutocomplete="off"
                                v-bind:items="timezones"
                                v-model="model.timeZone">
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                name="languages"
                                label="Spoken Languages"
                                title="Spoken Languages"
                                clearable
                                chips
                                tags
                                hint="Select existing languages or enter a new language"
                                persistent-hint
                                @input="CheckLanguages"
                                v-bind:items="languages"
                                v-model="model.languages">
                            </v-select>
                        </v-flex>
                    </v-layout> 
                </v-flex>
                <v-flex xs12 sm6>
                    <ProfilePhoto :model="model"></ProfilePhoto>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="about"
                        label="About"
                        title="About"
                        autocomplete="off"
                        v-model="model.about"
                        @input="CompileMarkdown"
                        multi-line>
                    </v-text-field>
                    <p class="text-xs-left">The About field supports <a href="https://help.github.com/categories/writing-on-github/" target="_blank">GitHub flavoured markdown</a>. <strong>NOTE:</strong> Images will not be supported due to <a href="https://en.wikipedia.org/wiki/Content_Security_Policy" target="_blank">CSP</a>.</p>
                </v-flex>
                <v-flex xs12 sm6 class="text-xs-left mb-3">
                    <h4 class="text-xs-left mb-2">About preview</h4>
                    <div v-html="compiledMarkdown" class="ml-2 markdown"></div>
                </v-flex>
            </v-layout>
        </v-container>
        <h3>Technical</h3>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-select
                        name="yearStartedInTech"
                        label="Year Started In Tech"
                        title="Year Started In Tech"
                        auto
                        clearable
                        browserAutocomplete="off"
                        item-text="name"
                        item-value="value"
                        v-bind:items="techYears"
                        v-model="model.yearStartedInTech">
                    </v-select>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="website"
                        label="Website"
                        title="Website"
                        autocomplete="off"
                        v-model="model.website"    
                        :error-messages="errors.collect('website')"
                        data-vv-scope="profileForm"                
                        v-validate="'url:true'"
                        :append-icon="model.website ? 'link' : ''"
                        :append-icon-cb="() => ShowWebsite(model.website)">
                    </v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="gitHubUsername"
                        label="GitHub Username"
                        title="GitHub Username"
                        autocomplete="off"
                        v-model="model.gitHubUsername"
                        :append-icon="model.gitHubUsername ? 'link' : ''"
                        :append-icon-cb="() => ShowWebsite('https://github.com/' + model.gitHubUsername)">
                        <!-- 
                            Currently broken in vuetify due to the label, see https://github.com/vuetifyjs/vuetify/issues/1620
                            prefix="https://github.com/"
                         -->
                    </v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        name="twitterUsername"
                        label="Twitter Username"
                        title="Twitter Username"
                        autocomplete="off"
                        v-model="model.twitterUsername"
                        :append-icon="model.twitterUsername ? 'link' : ''"
                        :append-icon-cb="() => ShowWebsite('https://twitter.com/' + model.twitterUsername)">
                    </v-text-field>
                </v-flex>
            </v-layout>
        </v-container>
        <h3>Skills</h3>
        <SkillList :model="model.skills"></SkillList>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-checkbox
                        v-model="model.acceptCoC"
                        name="acceptCoC"
                        color="success"
                        required
                        :error-messages="errors.collect('acceptCoC')"
                        data-vv-scope="profileForm"
                        data-vv-as="accept Code of Conduct"
                        v-validate="'required:true'">
                        <span slot="label">I accept and will abide by the Tech Mentors <router-link to="conduct" target="_blank" @click.native.prevent="OnViewCoCClick">Code of Conduct</router-link></span>
                    </v-checkbox>
                </v-flex>
                <v-flex xs12 class="text-xs-right">
                    <small>* indicates required field</small>
                </v-flex>
                <v-flex xs12 class="text-xs-right">
                    <v-btn title="Save" color="primary" :loading="savingModel" :disabled="savingModel" @click="OnSave">
                        Save
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
</div>